################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplicationSample/bin/Debug/netcoreapp3.1
/WebApplicationSample/obj
/.vs/WebApplicationSample/config/applicationhost.config
/.vs/WebApplicationSample/v17/.suo
